<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Welcome to Social Community App
  is a project to make a book and screencasts to teach web development
  with Ruby on Rails. This
  is the Community application for the tutorial.
</p>

