<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Welcome to Social Community where you can contact the community derectly
  </br>
  <li><a href="http://citizensinformation.ie">citizen information bureau</a></li>
</p>
                     
