<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<div class="fb-like" data-href="<%= user_url(@user) %>" data-send="true" data-width="450" data-show-faces="true"></div>
<%= will_paginate %>


